@media (min-width:481px) { 

#cajamodulocinco{  width:100%; margin-left:-50%;}

.cajadelosalerts{  top:10%;}

.cabezal{ height:46px; }
.errores{  height:46px; line-height:46px;  }
.errorestext{ height:46px; line-height:46px; }


.cajadetextohome, .cajafinal{ font-size:0.8em;}
.btcomenzar{ width:80%;  }
.btcontinuar{ width:80%;}
.btvolver{ width:50%;}

/*.cajadelosalerts{  width:80%;  left:50%;  margin-left:-40%; top:25%; font-size:0.9em; padding-bottom:7%;}*/

.cajadelosintros{ width:60%;   left:50%;  margin-left:-30%; top:25%; font-size:1em; padding-bottom:7%; padding-top:7%;}


}
